#info .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
}

#info .amount {
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
}

#info .type {

    font-family: Alegreya;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#info .wrapper {
    position: relative;
}

#info .bg-element-2 {
    position: absolute;
    top: -10px;
    left: 0;
}

/* Tablet Version */
@media (max-width:1040px) {}

/* Mobile Version */
@media (max-width:720px) {
    .content-container {
        flex-direction: column;
        gap: 80px;
    }

    #info .content-container img {
        width: 100px;
    }

    #info .amount {
        font-size: 32px;
    }

    #info .type {
        font-size: 24px;
    }

    #info .bg-element-2 {
        top: -10px;
        left: 32px;
    }
}